[package]
name = "woxi"
description = "Interpreter for a subset of the Wolfram Language"
keywords = ["wolfram", "wolfram-language", "mathematica", "cas", "math"]
version = "0.1.0"
edition = "2024"
license = "AGPL-3.0-or-later"
repository = "https://github.com/ad-si/Woxi"

[dependencies]
anyhow = "1.0.98"
chrono = "0.4"
clap = { version = "4.3", features = ["derive"] }
dirs = "6.0.0"
jupyter-protocol = { git = "https://github.com/runtimed/runtimed" }
pest = "2.5"
pest_derive =    "2.5"
rand = "0.8"
runtimelib = { git = "https://github.com/runtimed/runtimed", features = ["tokio-runtime"] }
serde_json = "1.0"
snailquote = "0.3.1"
thiserror = "1.0.63"
tokio = { version = "1.45.0", features = ["full"] }
uuid = { version = "1.16.0", features = ["v4"] }
zeromq = { version = "0.5.0-pre", features = ["tokio-runtime"], default-features = false }

[dev-dependencies]
insta = { version = "1", features = ["glob"] }
